{%extends "layout.html"%}
    {%block content%}
    <div class="aboutus-container">
        <div class="aboutus-main-content">
            <p>We proudly state that our product is one of the most effective and comprehensive periodic tables so far at Burnside High School.</p>
            <div class="aboutus-image-section">
                <p>First few words, we’d like to say thank you for supporting us throughout the time we’re making it. Your support is our motivation to create this wonderful website and put it into operation. With interactive periodic tables, we’re making the chemistry classes of students more and more enjoyable throughout the day. We believe that as our product is being used by teachers at school for teaching purposes, its interactive features will make their classes more joyful which helps the students easier to remember information.</p>
            </div>
        </div>
        <div class="aboutus-teams-section">
            <h2>Meet Our Teams</h2>
            <div class="aboutus-team-cards">
                <div class="aboutus-team-card">
                    <img src="/static/images/cra.jpg" alt="Team Member">
                    <h3>Antony Crowther</h3>
                    <p>Co-founder & Chemistry Advisor</p>
                </div>
                <div class="aboutus-team-card">
                    <img src="/static/images/dfs.png" alt="Team Member">
                    <h3>Steve Dunford</h3>
                    <p>Co-founder & Technology Advisor</p>
                </div>
                <div class="aboutus-team-card">
                    <img src="/static/images/fd.PNG" alt="Team Member">
                    <h3>Fred Dang</h3>
                    <p>Co-founder & Main Developer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus-footer-content">
        <div class="aboutus-footer-segment">
            <h4>Our Location</h4>
            <p>151 Greers Road, Burnside, Christchurch 8440<br><a href="#">View in Google Maps</a></p>
        </div>
        <div class="aboutus-footer-segment">
            <h4>Sponsors</h4>
            <p>Burnside High School: Te Kura o Waimairi-iri</p>
        </div>
    </div>
    {%endblock%}