{% extends "layout.html" %}
{% block content %}
<div id="container">
    <h1>• contact •</h1>
    <div class="underline"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('contact') }}" id="contact_form">
        {{ form.hidden_tag() }}
        <div class="name">
            {{ form.name.label(hidden=True) }}
            {{ form.name(id='name_input', placeholder='My name is') }}
            {% for error in form.name.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="email">
            {{ form.email.label(hidden=True) }}
            {{ form.email(id='email_input', placeholder='My e-mail is') }}
            {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="telephone">
            {{ form.telephone.label(hidden=True) }}
            {{ form.telephone(id='telephone_input', placeholder='My number is') }}
            {% for error in form.telephone.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="subject">
            {{ form.subject.label(hidden=True) }}
            {{ form.subject(id='subject_input') }}
            {% for error in form.subject.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="message">
            {{ form.message.label(hidden=True) }}
            {{ form.message(id='message_input', placeholder="I'd like to chat about") }}
            {% for error in form.message.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="contact-text">
            PLEASE NOTE: YOUR RESPONSES WILL NOT BE RECORDED OR STORED IN OUR DATABASE. HOWEVER, PLEASE NOTE THAT YOUR RESPONSE MAY BE USED TO IMPROVE OUR WEBSITE. WE ENSURE THAT NO PERSONALLY IDENTIFIABLE INFORMATION WILL BE COLLECTED, STORED, OR SHARED TO A THIRD-PARTY SIDE WITHOUT YOUR CONSENT.
        </div>
        <div class="submit">
            {{ form.submit(id='form_button') }}
        </div>
    </form>
</div>
{% endblock %}