<div class="footer">
    <div class ="footer-text">
        <a>We'd love to listen to your advise</a>
        <a>Yo can contact us throguh</a>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-discord"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </div>
    <div class="footer-copyright">
        <li><a>&copy; Interative periodic table team.</a></li>
    </div>
</div>