<link rel="stylesheet" href="/static/css/style.css">
<div class="footer">
    <div class="footer-text">
        <br>Thanks for visiting our website.</br>
        <br>We'd love to listen to your advice. You can contact us through:</br>
    </div>
        <ul class="socical-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-discord"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    <div class="footer-copyright">
        <ul>
            <li>&copy; Interactive periodic table team.</li>
        </ul>
    </div>
</div>
