{% extends "layout.html" %}
{% block content %}
<div class="temperature-control">
    <a>Drag and drop to modify temperature and element's state</a>
    <label for="temperature-slider">Temperature (K):</label>
    <input type="range" id="temperature-slider" name="temperature-slider" min="-273" max="7000" value="273" oninput="updateTemperature(this.value)">
    <span id="temperature-value">273 K</span>
    <button id="reset-temperature" onclick="resetTemperature()">Reset to STP</button>
</div>
<div class="periodic-table">
    <div class="corner-label">
        <div class="horizontal-label">Group</div>
        <div class="vertical-label">Period</div>
    </div>
    <div class="group-labels">
        {% for group in range(1, 19) %}
            <div class="group-label" style="grid-column: {{ group + 1 }}; grid-row: 1;">{{ group }}</div>
        {% endfor %}
    </div>
    <div class="period-labels">
        {% for period in range(1, 8) %}
            <div class="period-label" style="grid-column: 1; grid-row: {{ period + 1 }};">{{ period }}</div>
        {% endfor %}
    </div>
    <div class="element placeholder lanthanides" style="grid-column: 4 / span 1; grid-row: 7;" data-id="lanthanides">
        <a href="#" class="element-link" data-id="lanthanides">
            <div class="element-number">57-71</div>
            <div class="element-symbol">La</div>
            <div class="element-name">Lanthanoids</div>
            <div class="element-weight"></div>
        </a>
    </div>
    <div class="element placeholder actinides" style="grid-column: 4 / span 1; grid-row: 8;" data-id="actinides">
        <a href="#" class="element-link" data-id="actinides">
            <div class="element-number">89-103</div>
            <div class="element-symbol">Ac</div>
            <div class="element-name">Actinoids</div>
            <div class="element-weight"></div>
        </a>
    </div>
    {% for element in elements %}
        {% set category_class = 'category-' ~ element.category_id %}
        {% if 57 <= element.electron <= 71 %}
            <div class="element lanthanides {{ element.state }} {{ category_class }}" style="grid-column: {{ element.electron - 54 }}; grid-row: 10;" data-id="{{ element.electron }}" data-melting="{{ element.meltingpoint }}" data-boiling="{{ element.boilingpoint }}">
                <a href="#" class="element-link" data-id="{{ element.electron }}">
        {% elif 89 <= element.electron <= 103 %}
            <div class="element actinides {{ element.state }} {{ category_class }}" style="grid-column: {{ element.electron - 86 }}; grid-row: 11;" data-id="{{ element.electron }}" data-melting="{{ element.meltingpoint }}" data-boiling="{{ element.boilingpoint }}">
                <a href="#" class="element-link" data-id="{{ element.electron }}">
        {% else %}
            <div class="element {{ element.state }} {{ category_class }}" style="grid-column: {{ element.group + 1 }}; grid-row: {{ element.period + 1 }};" data-id="{{ element.electron }}" data-melting="{{ element.meltingpoint }}" data-boiling="{{ element.boilingpoint }}">
                <a href="#" class="element-link" data-id="{{ element.electron }}">
        {% endif %}
                    <div class="element-number">{{ element.electron }}</div>
                    <div class="element-symbol">{{ element.symbol }}</div>
                    <div class="element-name">{{ element.name }}</div>
                    <div class="element-weight">{{ element.weight }}</div>
                </a>
            </div>
    {% endfor %}
</div>
<div class="legend">
    <div class="legend-title">Key</div>
    <div class="legend-table">
        <div class="legend-cell category-2"><a href="https://en.wikipedia.org/wiki/Alkali_metal">Alkali metals</a></div>
        <div class="legend-cell category-3"><a href="https://en.wikipedia.org/wiki/Alkaline_earth_metal">Alkaline earth metals</a></div>
        <div class="legend-cell category-9"><a href="https://en.wikipedia.org/wiki/Lanthanide">Lanthanoids</div></a>
        <div class="legend-cell category-10"><a href="https://en.wikipedia.org/wiki/Actinide">Actinoids</a></div>
        <div class="legend-cell category-4"><a href="https://en.wikipedia.org/wiki/Transition_metal">Transition metals</a></div>
        <div class="legend-cell category-5"><a href="https://en.wikipedia.org/wiki/Post-transition_metal">Post-transition metals</a></div>
        <div class="legend-cell category-6"><a href="https://en.wikipedia.org/wiki/Metalloid">Metalloids</a></div>
        <div class="legend-cell category-1"><a href="https://en.wikipedia.org/wiki/Nonmetal">Other nonmetals</a></div>
        <div class="legend-cell category-8"><a href="https://en.wikipedia.org/wiki/Noble_gas">Noble gases</a></div>
        <div class="legend-cell category-7"><a href="https://www.breakingatom.com/glossary-of-terms/unknown-elements#:~:text=These%20are%20meitnerium%20(Mt%2C%20atomic,Ts%2C%20atomic%20number%20117).">Unknown</a></div>
        <div class="legend-cell solid">Solid</div>
        <div class="legend-cell liquid">Liquid</div>
        <div class="legend-cell gas">Gas</div>
        <div class="legend-cell unknown">Unknown</div>
    </div>
</div>
<div class="popup-container">
    <div id="popup" class="popup">
        <div class="close-btn">&times;</div>
        <div id="popup-content"></div>
    </div>
</div>
{% endblock %}
