{% extends "layout.html" %}
{% block content %}
    <div class="periodic-table">
        {% for element in elements %}
            <div class="element" style="grid-column: {{ element.group }}; grid-row: {{ element.period }};">
                <div class="element-symbol">{{ element.symbol }}</div>
                <div class="element-name">{{ element.name }}</div>
                <div class="element-number">{{ element.electron }}</div>
                <div class="element-weight">{{ element.enegativity }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
