<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <div class="navbar">
      <header>
        <a href="/" class="navlogo">Interactive Periodic table</a>
        <nav class="navlist">
          <a href="/">Home</a>
          <a href="contactus">Contact</a>
          <a href="aboutus">About us</a>
        </nav>
      </header>
    </div>
    <script src="/static/js/navbar.js"></script>
  </body>
</html>
